.svw {width: 50px; height: 20px; background: #fff  ;}
.svw ul {position: relative; left: -999em;}

/*core classes*/
.stripViewer { 
position: relative;
overflow: hidden; 
border: 1px solid gray  ;  
margin: 0 0 1px 0;
height: 290px !important;
width: 396px !important;
}
.stripViewer ul { /* this is your UL of images */
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li { 
float:left;
}
.stripViewer img {
    height: 290px;
    width: 396px;
}
.stripTransmitter {
overflow: auto;
width: 1%;
}
.stripTransmitter ul {
margin: 0;
padding: 0;
position: relative;
list-style-type: none;
}
.stripTransmitter ul li{
width: 20px;
float:left;
margin: 0 1px 1px 0;
}
.stripTransmitter a{
font: bold 10px Verdana, Arial;
text-align: center;
line-height: 22px;
background: gray  ;
color: #fff  ;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current{
background: #fff  ;
color: gray  ;
}

/*tooltips formatting*/
.tooltip
{
padding: 0.5em;
background: #fff  ;
color: #000  ;
border: 5px solid #dedede  ;
}